<form action="/Kullanici/Ekle" method="POST">
<div>
Adı giriniz
<input type="text" name="Ad"></input><br/>
Eposta giriniz
<input type="text" name="Eposta"></input><br/>
Telefon giriniz
<input type="text" name="Telefon"></input><br/>
<button type="submit">Gönder</button>
</div>
</form>